# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# Assets folders
!.gitkeep
assets/bg/*
assets/fg/*
asstes/gdrive/bg/*
asstes/gdrive/fg/*

# GDrive creds
credentials.json
token.json
